<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.instagram.com" target="_blank"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.snapchat.com" target="_blank"><i class="icon ion-social-snapchat"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="icon ion-social-linkedin"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="d-flex justify-content-center">
            <li class="list-inline-item"><a class="nav-link active" routerLinkActive="active" routerLink="/">Home</a></li>
            <li class="list-inline-item"><a class="nav-link active" routerLinkActive="active" routerLink="/std">Students</a></li>
            <li class="list-inline-item"><a class="nav-link active" routerLinkActive="active" routerLink="/add">Add</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2023</p>
    </footer>
</div>